.markerContainer {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover > :first-child {
    transform: scale(1.3);
  }
}

.markerContainer:hover {
  z-index: 10;
}

.markerText {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}
